:root {
  --block-size: 50;
}

body {
  margin: 30px;
  background: #000;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 1s ease;
}

main.show {
  opacity: 1;
  transition: opacity 1s ease;
}

main > div {
  width: calc(var(--block-size) * 1px);
  height: calc(var(--block-size) * 1px);
  background: linear-gradient(45deg, #e63365 10%, #808aff 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
}

main > div:active:not(.blank) {
  /* background: linear-gradient(45deg, #808aff 10%, #e63365 90%); */
  background: linear-gradient(45deg, #e63365 0%, #808aff 70%);
}

main > div:hover {
  opacity: 1;
}

.blank {
  background: #000;
}

.correct {
  background: blue;
}

.display {
  color: #fff;
}