:root {
  --block-size: 75;
  --border-size: 2;
}

body {
  margin: 30px;
  background: #000;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 1s ease;
}

main.show {
  opacity: 1;
  transition: opacity 1s ease;
}

main > div {
  width: calc(var(--block-size) * 1px);
  height: calc(var(--block-size) * 1px);
  background: linear-gradient(45deg, #666666 10%, #b9b9b9 50%, #f1f1f1 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  border: calc(var(--border-size) * 1px) solid #000;
  opacity: 0.8;
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

main > div:active:not(.blank):not(.correct) {
  background: linear-gradient(45deg, #d4d4d4 10%,#b9b9b9 50%, #666666 100%);
}

main > div:hover {
  opacity: 0.9;
}

.blank {
  background: #000;
}

.correct {
  background: linear-gradient(45deg, #019e77 10%, #79e400 50%, #e2ff93 90%);
  opacity: 1;
}

.display {
  color: #fff;
}